In [28]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv("./hygdata_v3.csv", low_memory=False)  # To ensure no mixed types

In [30]:
df.head()

,id,hip,hd,hr,gl,bf,proper,ra,dec,dist,...,bayer,flam,con,comp,comp_primary,base,lum,var,var_min,var_max
0,0,NaN,NaN,NaN,NaN,NaN,Sol,0.000000,0.000000,0.0000,...,NaN,NaN,NaN,1,0,NaN,1.000000,NaN,NaN,NaN
1,1,1.0,224700.0,NaN,NaN,NaN,NaN,0.000060,1.089009,219.7802,...,NaN,NaN,Psc,1,1,NaN,9.638290,NaN,NaN,NaN
2,2,2.0,224690.0,NaN,NaN,NaN,NaN,0.000283,-19.498840,47.9616,...,NaN,NaN,Cet,1,2,NaN,0.392283,NaN,NaN,NaN
3,3,3.0,224699.0,NaN,NaN,NaN,NaN,0.000335,38.859279,442.4779,...,NaN,NaN,And,1,3,NaN,386.901132,NaN,NaN,NaN
4,4,4.0,224707.0,NaN,NaN,NaN,NaN,0.000569,-51.893546,134.2282,...,NaN,NaN,Phe,1,4,NaN,9.366989,NaN,NaN,NaN

## Fields in the HYG (Hipparcos-Yale-Gliese) Database
[More about the HYG database](http://www.astronexus.com/hyg)
1. `StarID`: The database primary key from a larger "master database" of stars.
2. `HD`: The star's ID in the Henry Draper catalog, if known.
3. `HR`: The star's ID in the Harvard Revised catalog, which is the same as its number in the Yale Bright Star Catalog.
4. `Gliese`: The star's ID in the third edition of the Gliese Catalog of Nearby Stars.
5. `BayerFlamsteed`: The Bayer / Flamsteed designation, from the Fifth Edition of the Yale Bright Star Catalog. This is a combination of the two designations. The Flamsteed number, if present, is given first; then a three-letter abbreviation for the Bayer Greek letter; the Bayer superscript number, if present; and finally, the three-letter constellation abbreviation. Thus Alpha Andromedae has the field value "21Alp And", and Kappa1 Sculptoris (no Flamsteed number) has "Kap1Scl".
6. `RA, Dec`: The star's right ascension and declination, for epoch 2000.0. Stars present only in the Gliese Catalog, which uses 1950.0 coordinates, have had these coordinates precessed to 2000.
7. `ProperName`: A common name for the star, such as "Barnard's Star" or "Sirius". I have taken these names primarily from the Hipparcos project's web site, which lists representative names for the 150 brightest stars and many of the 150 closest stars. I have added a few names to this list. Most of the additions are designations from catalogs mostly now forgotten (e.g., Lalande, Groombridge, and Gould ["G."]) except for certain nearby stars which are still best known by these designations.
8. `Distance`: The star's distance in parsecs, the most common unit in astrometry. To convert parsecs to light years, multiply by 3.262. A value of 10000000 indicates missing or dubious (e.g., negative) parallax data in Hipparcos.
9. `Mag`: The star's apparent visual magnitude.
10. `AbsMag`: The star's absolute visual magnitude (its apparent magnitude from a distance of 10 parsecs).
11. `Spectrum`: The star's spectral type, if known.
12. `ColorIndex`: The star's color index (blue magnitude - visual magnitude), where known.
13. `* X,Y,Z`: The Cartesian coordinates of the star, in a system based on the equatorial coordinates as seen from Earth. +X is in the direction of the vernal equinox (at epoch 2000), +Z towards the north celestial pole, and +Y in the direction of R.A. 6 hours, declination 0 degrees.
14. `* VX,VY,VZ`: The Cartesian velocity components of the star, in the same coordinate system described immediately above. They are determined from the proper motion and the radial velocity (when known). The velocity unit is parsecs per year; these are small values (around 10-5 to 10-6), but they enormously simplify calculations using parsecs as base units for celestial mapping.

In [31]:
# Remove the sun because it doesn't make sense in a star chart
df = df[df['proper'] != 'Sol']

# Translate plaintext Bayer designations into non-ASCII greek letters
greek_dict = {'Alp': u"α",'Bet': u"β",'Chi': u"χ",'Del': u"δ",'Eps': u"ε",'Eta': u"η",
              'Gam': u"γ",'Iot': u"ι",'Kap': u"κ",'Lam': u"λ",'Mu': u"μ",'Nu': u"ν",
              'Ome': u"ω",'Omi': u"ο",'Phi': u"φ",'Pi': u"π",'Psi': u"ψ",'Rho': u"ρ",
              'Sig': u"σ",'Tau': u"τ",'The': u"θ",'Ups': u"υ",'Xi': u"ξ",'Zet': u"ζ"}

print(df[pd.notnull(df['bayer'])]['bayer'].unique())

['Tau' 'The' 'Zet' 'Alp' 'Bet' 'Kap-1' 'Eps' 'Gam-3' 'Kap-2' 'Gam' 'Chi'
 'Sig' 'Iot' 'Pi' 'Rho' 'Kap' 'Eta' 'Lam-1' 'Bet-1' 'Bet-2' 'Lam' 'Bet-3'
 'Lam-2' 'Del' 'Mu' 'Xi' 'Phi-1' 'Omi' 'Nu' 'Phi-2' 'Ups-1' 'Phi-3'
 'Ups-2' 'Phi-4' 'Ome' 'Psi-1' 'Ups' 'Psi-2' 'Phi' 'Psi-3' 'Psi' 'Tau-1'
 'Tau-2' 'Eta-1' 'Gam-2' 'Eta-2' 'Gam-1' 'Xi-1' 'Pi-1' 'Pi-2' 'Xi-2'
 'Iot-1' 'Iot-2' 'Eta-3' 'Rho-1' 'Rho-2' 'Rho-3' 'The-1' 'Tau-3' 'Zet-1'
 'Zet-2' 'Tau-4' 'Chi-1' 'Chi-2' 'Chi-3' 'Tau-5' 'Tau-6' 'Tau-7' 'Tau-8'
 'Tau-9' 'Ome-1' 'Omi-1' 'Omi-2' 'Ome-2' 'Ups-4' 'Del-1' 'Del-2' 'Del-3'
 'The-2' 'Sig-1' 'Sig-2' 'Pi-3' 'Pi-4' 'Pi-5' 'Pi-6' 'Nu-1' 'Nu-2' 'Nu-3'
 'Psi-4' 'Psi-5' 'Psi-6' 'Psi-7' 'Psi-8' 'Psi-9' 'Mu-1' 'Mu-2' 'Sig-3'
 'Alp-1' 'Alp-2' 'Zet-3' 'Zet-4' 'Eps-1' 'Eps-2']

In [32]:
def get_greek_letter(n):
    if str(n) == 'nan':
        return(np.nan)
    split = n.split("-")
    greek = greek_dict.get(split[0])
    if len(split) > 1:
        r = greek + split[1]
    else: 
        r = greek
    return(r)

df['greek_letters'] = df['bayer'].apply(get_greek_letter)
print(df['greek_letters'].unique())

[nan 'τ' 'θ' 'ζ' 'α' 'β' 'κ1' 'ε' 'γ3' 'κ2' 'γ' 'χ' 'σ' 'ι' 'π' 'ρ' 'κ'
 'η' 'λ1' 'β1' 'β2' 'λ' 'β3' 'λ2' 'δ' 'μ' 'ξ' 'φ1' 'ο' 'ν' 'φ2' 'υ1' 'φ3'
 'υ2' 'φ4' 'ω' 'ψ1' 'υ' 'ψ2' 'φ' 'ψ3' 'ψ' 'τ1' 'τ2' 'η1' 'γ2' 'η2' 'γ1'
 'ξ1' 'π1' 'π2' 'ξ2' 'ι1' 'ι2' 'η3' 'ρ1' 'ρ2' 'ρ3' 'θ1' 'τ3' 'ζ1' 'ζ2'
 'τ4' 'χ1' 'χ2' 'χ3' 'τ5' 'τ6' 'τ7' 'τ8' 'τ9' 'ω1' 'ο1' 'ο2' 'ω2' 'υ4'
 'δ1' 'δ2' 'δ3' 'θ2' 'σ1' 'σ2' 'π3' 'π4' 'π5' 'π6' 'ν1' 'ν2' 'ν3' 'ψ4'
 'ψ5' 'ψ6' 'ψ7' 'ψ8' 'ψ9' 'μ1' 'μ2' 'σ3' 'α1' 'α2' 'ζ3' 'ζ4' 'ε1' 'ε2']

In [33]:
print(len(df[pd.notnull(df['spect'])]['spect'].unique()), 'unique spectral designations')

4307 unique spectral designations

In [34]:
print(df[pd.notnull(df['spect'])]['spect'].unique()[:1000])

['F5' 'K3V' 'B9' 'F0V' 'G8III' 'M0V:' 'G0' 'M6e-M8.5e Tc' 'G5' 'F6V' 'A2'
 'K4III' 'K0III' 'K0' 'K2' 'F3V' 'K5' 'G8/K0III/IV' 'F2V' 'G0V' 'G3IV'
 'F7V' 'G5V' 'F3/F5V' 'A0' 'B8' 'F2' 'F7.5IV-V' 'G6V' 'B...' 'G9III-IV'
 'G6/G8V:' 'K1III' 'K0/K1III' 'G1IV' 'A4V' 'M:' 'G2IV/V' 'K2V' 'B5' 'F2IV'
 'B9p SiEu' 'K2III' 'G3/G5V' 'M0' 'A0V' 'G2V' 'F5IV/V' 'F8V' 'G2' 'F5V'
 'F6/F7V' 'C5p' 'M1III' 'F0' 'G7II-III' 'M2III' 'K3II/III' 'M2' 'M1.5V:'
 'G0IV' 'A2IV' 'K1IIICNIV' 'F0III' 'Am...' 'F8' 'F5IV' 'K2III-IV'
 'B9IIIp Mn' 'K0/K1IV' 'B0' 'K3' 'B7III-IV' 'A9V' 'F3IV...' 'M3III' 'B8V'
 'A3' 'B9V' 'A3V' 'G9III' 'Ap...' 'G3V' 'R...' 'M0V' 'O7' 'G9II-III'
 'A1m...' 'B4V' 'A6V' 'M3' 'G8/K0III' 'K3III' 'G6/G8III' 'A2V' 'G8'
 'F0/F2V' 'F6/F7IV' 'G8IV' 'K0...' 'F2/F3V' 'M1' 'K1IIICN...' 'K5III:'
 'A2III' 'B3Ia' 'B2IVne+...' 'A5' 'K1IV/VCN...' 'F8/G0V' 'G8V' 'B9IVn'
 'M4' 'G5IV' 'A7V' 'B0Ibp' 'F0III/IV' 'G8/K0IV' 'O8e' 'F1:' 'G2/G3V'
 'A1III' 'Gp' 'A1/A2IV/V' 'B' 'A1V' 'M5e-M7e' 'B3V' 'B8/B9V' 'K0V'
 'K3Ibvar' 'G3/G5III/IV' 'C5II' 'K1IV' 'B9III' 'A2/A3IV' 'M5' 'B8III' 'B2'
 'A0IV' 'F7' 'A0IV/V' 'K4IIIb' 'G9V' 'G8II' 'G6III' 'G9III:' 'B8MNp...'
 'G8/K0V' 'A1Vn' 'K5V' 'G8III/IV' 'M2V' 'A1Vs' 'G4V:p' 'K7' 'K3/K4III'
 'B1.5IV' 'G5III' 'A9/F0V' 'F2+...' 'G5/G6V' 'G8IV/V' 'M1/M2' 'K5III'
 'K1III-IV' 'O6pe' 'F3IV' 'M...' 'G1IV...' 'G1V' 'K1/K2III:' 'M6e' 'K1'
 'F4IVws' 'K5p...' 'F3IV/V' 'A' 'F5IV-V' 'A2IV/V' 'A6:m...' 'B9IV' 'G3III'
 'K1/K2III' 'M2III:' 'B8IIIsp...' 'G3:V: + G2:' 'A8/A9V' 'G8III:' 'B9p'
 'A3III' 'G:III/IV+..' 'G3/G5IV/V' 'G3II' 'M0/M1IIICNp' 'F8IV' 'F2III/IV'
 'A4Vm' 'G4IV...' 'B5V' 'F2III-IV' 'G2III' 'A7IV' 'F5/F6V' 'M1Ibpev comp'
 'M3e-M8e' 'K2/K3' 'K1/K2V' 'K1V' 'K1IV/V' 'K1II' 'Gp...' 'A3+...' 'K8'
 'F2II' 'K2III:' 'M4III:' 'B7IV' 'B1V' 'F7IV' 'F3/F5IV+...' 'B7IIIe+K3III'
 'B7V' 'F6IV/V' 'M2V:' 'F4' 'K0III/IV' 'G6/G8V' 'G4V' 'F8...' 'K0IV'
 'B5II: SB' 'K0p...' 'F5Ib-II' 'G5IV/V' 'K0V+...' 'B9.5IV' 'F7/F8V' 'B2V'
 'A9Iab:' 'WC8' 'B2IV' 'M6' 'M0/M1III' 'G0III' 'B2.5V' 'F0IV' 'A5IV' 'B3'
 'F4V' 'K0/K1VCN...' 'G1/G2V' 'M3IIIvar' 'F8Iab:' 'K2/K3III' 'B9V...'
 'A7III' 'A1p' 'A7' 'K2II' 'A4:m...' 'F7/F8V:' 'F5.5' 'K0:III' 'F2III'
 'M7/M8IIIe' 'A8V' 'G6III/IVw' 'K2/K3III:' 'K2IIICN...' 'G8IV...'
 'G8III...' 'M0III' 'B9Vn' 'G' 'G8II-III' 'G1' 'M5III' 'A3...' 'B6III/IV'
 'F3III' 'G1Vw...' 'K0III-IV' 'B7III' 'G5IV-V' 'F3/5 +(A)' 'K:'
 'K0/K1IV/V:' 'N0v' 'A8IV' 'O9IIInn' 'K3IV' 'K0:Ib' 'K0II' 'K3V:'
 'M4II-III' 'F9V' 'G9' 'F0:III/IV' 'K2III/IV' 'B9/B9.5IV' 'B1II...'
 'G8/K0IV/V' 'M1V' 'K7Iab:' 'A2...' 'F2IV/V' 'F5...' 'K4/K5III' 'A8III'
 'B0.5III' 'F0Iab:' 'K7V' 'K:...' 'K0IIICN...' 'A5IIIm...' 'M1/M2III'
 'F3/F5IV/V' 'G0IV/V' 'C8' 'K1III/IV' 'A0Vs' 'B0.5IIIn...' 'M4/M5III'
 'B2III' 'G8/K0III:' 'M2II:' 'F5III' 'M5/M6Ib/II' 'B0.2IV' 'A9III' 'F3II'
 'M1Vvar' 'G3' 'B0IV' 'F0/F2IV/V' 'A3m...' 'B5...' 'M6-M9.0e' 'K4'
 'K3/K4V' 'K5Iab:' 'A2/A3V' 'K' 'F8IIIvar' 'S66ev' 'B8II' 'B5IV'
 'G2/G3IV/V' 'K1III...' 'C4.5v' 'G8IV+...' 'G5/G6III' 'K5IV/V' 'G8IV:'
 'G0...' 'G2IV' 'A0/A1V' 'F0p...' 'F0...' 'F6/F7Vw...' 'F5/F6IV/V'
 'A3II/IIIp..' 'K0IV/V' 'K0III...' 'F5IIvar' 'B1IV' 'K0:III:+...'
 'F2/F3IV/V' 'G3III:' 'K4/K5V:' 'C6II' 'M1III:' 'F6' 'K0/K1IIIp..'
 'M2/M3III' 'G4III' 'F8IV/V' 'A2Vs' 'A9IV' 'F6Vawvar' 'G8IV+F/G' 'A2p...'
 'B0.5IV...' 'G4' 'G8III-IV' 'G6III...' 'G1Ibvar' 'F4II' 'B9IIIn'
 'B6III-IV' 'M3V:' 'A4IV/V' 'G5IIIwe' 'B9.5V' 'Fw' 'B6V' 'B8Vn' 'B3Vne'
 'A0p...' 'F3III/IV' 'M5e' 'M2.5Ve' 'G6IV/V' 'G5/G6III/IV' 'G5+...'
 'G3/G5II' 'F6III' 'M8' 'B1Ia' 'A0Vn' 'K3/K4III:' 'G5III/IV' 'A1IV/V'
 'F2.2:' 'M9' 'B5III' 'F3IV-V' 'G8III-IV...' 'F8V...' 'F4Iab:' 'K2Ib-II'
 'B1IV:nn' 'GIII:+...' 'G3/G5IV' 'G:...' 'F7/F8V+...' 'G2V comp SB'
 'A5m...' 'K0II-III' 'B8IIIMNp...' 'A4III' 'K3III:' 'M3II' 'G5/G6IV/V'
 'G0/G1V' 'K0III+...' 'B2.5IV' 'F2/F3III' 'G0w...' 'K1III:' 'M7' 'B1Ib'
 'K0II/IIICN' 'K1V+...' 'A2m...' 'M6III' 'K9' 'K0/K1IV:' 'F7IV/V' 'Asp...'
 'K3Ib-II' 'G5III...' 'F0IV/V' 'K0IVCN...' 'A5V' 'K3III...' 'K7III' 'F6IV'
 'K5:' 'F6V:' 'F3V...' 'K0IIIp' 'F0Vw...' 'K3IIICN...' 'K0II-IIIvar'
 'G8II/III' 'B0Ib' 'sdG8' 'Am' 'B0.7Vn...' 'G5/G6V:' 'A7m' 'Ap' 'F7III/IV'
 'G6IV' 'M' 'B9.5III' 'G8/K0V:' 'K0/K1V:' 'B1III' 'A0...' 'K1p...'
 'K2II-III' 'M1Ve+...' 'A1Ia' 'Beq' 'WN5' 'Kp...' 'K0IIIvar' 'B5V...'
 'G3IV/V' 'F5III/IV' 'M2e' 'K4II/IIICNV:' 'F8Vw...' 'F7III' 'K2III...'
 'G2V:' 'B0.5V' 'F2Iab:' 'K5II' 'K5V comp SB' 'B9.5IIIMNp.' 'A9IV/V'
 'M4III' 'G0Ib' 'A6m...' 'F' 'F3Vp...' 'F0Vn' 'B1.5Vn...' 'G8IIICN...'
 'B1II' 'G0V SB' 'K0/1III +G' 'K1/2III: +F' 'DG' 'A3IV' 'B5V SB'
 'F5III+...' 'F6Ib-G2Ib' 'A9/F0III' 'F7IV-V' 'A0Ib' 'B5Ib' 'A0Ia:' 'B3II'
 'B3Ia:' 'A4V comp SB' 'K5Ib' 'B5Ia' 'M6.5' 'K2/K3IV' 'K2/K3V' 'Fp'
 'K2/K3IIICNp' 'O5.5((f))' 'B6Ia' 'G2/5V + F0' 'K1/K2III/IV' 'F2...' 'A5m'
 'Rp...' 'G6/G8II/III' 'G0+...' 'F0Ia' 'C0ev' 'G7III' 'M2.5IIIa' 'G(wp)'
 'Me' 'B9IV/V' 'B0IV:evar' 'MIII' 'F0m' 'K4V' 'K0IIIp...' 'B1.5III-IVn'
 'A8.7:' 'A:+...' 'F2II/III' 'B1.5Ib' 'A0III' 'B7IIIp' 'K5/M0III'
 'K5II-III' 'G8p...' 'K-M' 'M2e-M4' 'G5VCN...' 'B9.5Vn' 'A4Vs' 'A4IV'
 'A8/F2:+...' 'F8III/IV' 'F2.5:' 'B2.5Vn' 'sdF7::' 'A0Ia' 'K0IIICNIV'
 'A1/A2IV' 'M3.5e' 'K2IICNp...' 'K5V...' 'K2V:' 'G:w...' 'G2Vw...'
 'G5IIIm' 'F0II' 'F1V' 'B2IV-V' 'A3III/IV' 'B1Ibp' 'G2V SB' 'K4/K5V'
 'F4II-III' 'A2/A3m...' 'K4.5' 'F5Vw...' 'WN2' 'F3/F5' 'F9' 'F4V...'
 'B3III' 'G8IIIvar' 'F4IV' 'A5Vn' 'A5III/IVm..' 'sdF6' 'K0+...' 'A2V...'
 'G0Ia' 'F5+...' 'B8Iab:e' 'K2p...' 'B5II' 'A3m' 'A5III' 'K1/K2IV' 'G5Vp'
 'F0III-IV' 'B6V + B0V' 'DA:' 'G5w...' 'K6' 'B1Vv SB' 'G2/G3IV' 'B2.5Iab:'
 'M0IIIvar' 'G6/8wF8IV/V' 'G6II/III' 'K0/K1III:' 'A0Vnn' 'A7Vvar' 'F6IV:'
 'G6III/IV' 'K0III-IV...' 'Fm' 'G2/G3' 'K7V:' 'A0+...' 'M5.5Ve' 'B3Ib'
 'B8Ib' 'G3V:' 'A9IV: (+F/G)' 'G1V...' 'K1II-III' 'G6/G8IV' 'G6III:'
 'G5Vw...' 'A0Ia0' 'K5III...' 'B1V SB' 'M2S SB' 'A9.5' 'K1/K2II/III' 'C'
 'K2III/IVCN.' 'sdF5' 'A9III/IV' 'N0' 'A5p' 'B9IIIsp...' 'F8/G0IV/V'
 'F5Vs' 'G5III-IVe' 'B8.5V' 'B2IIIne+...' 'K2IIICNII' 'A7m...' 'A9.5:'
 'B6Ve' 'B3 + B9:' 'A7V...' 'B6Ib' 'M2Ib' 'A9/F0IV' 'G2w...' 'K6V:' 'A9'
 'A2Vnn' 'A4/A7:m...' 'F3/F5IV' 'K1III+...' 'A0m...' 'F0IVn' 'G1III' 'F:'
 'F7w...' 'G5IIIp' 'A1Iab' 'G6/G8III/IVe' 'F2Vs' 'K0III:' 'K5...' 'Fm...'
 'G6/G8III/IV' 'A1m' 'A0Iab' 'F0II/III' 'M0e-M3' 'A0:Ia' 'G6Vw...' 'G5II'
 'F6/F7IV/V' 'K0II/III' 'A5Vv SB' 'F2V:var' 'F2V+...' 'F7V:' 'F2/F3IV'
 'A5IV/V' 'K3II' 'F7IVsvar' 'K2II:p' 'O9.5IV' 'G3II/III' 'K1IIIvar'
 'F8IV-V' 'G6/G8IIIw..' 'F3Ib' 'F6Ib' 'F0+...' 'Mb' 'B1.5III' 'B5Iab'
 'A4m...' 'B7IIIMNp...' 'A8/A9IV/V' 'sdG8:' 'F0/F2IV' 'G1/G2IV/V'
 'A3II/III(m)' 'A8IV/V' 'A0p' 'K0Ib+...' 'K3Ib' 'K0/K1V' 'K1IV:' 'A1Vvar'
 'M0/M1III:' 'A8III/IV' 'G0.5' 'G5III:+...' 'F6V...' 'B3Vp' 'A6Iab'
 'K0IV-V' 'M7III' 'G8II-IIIvar' 'B9pe...' 'K8V:' 'G8III+...' 'A9II'
 'WN3+...' 'F5Iab' 'B7/B8V' 'A8m' 'M2/M3' 'B8Iab' 'A9IV:' 'O9.5Ib'
 'A3IV/V' 'sdG0' 'F3Vws' 'F5V+...' 'A8/A9IV' 'B8IIIp (Si)' 'A3Vn' 'B9IV-V'
 'K1II/III' 'A0p SiSr' 'K3II-III' 'G8IIIp' 'K0/K1III+..' 'B7II' 'M2.5II'
 'K2IV' 'B8IIIn' 'A7II' 'B2Vpe' 'G8III-IV SB' 'F5Ia' 'Ap Si' 'A8IV+...'
 'R6' 'F7/F8IV/V' 'K0/1V (+K)' 'F7/F8IV' 'B6Iab' 'B9Iab' 'sdF2:' 'G9Ib'
 'B1.5Ia' 'B2Ib' 'sdB:' 'G8/K0IVp...' 'G5 + G5' 'F8+...' 'B9/B9.5V'
 'A2mA5-A7' 'Mc' 'Fwp' 'F3' 'F2Vw' 'F9Ib' 'K5Ia0-a...' 'A2m' 'B1.5V' 'DAs'
 'B9p...' 'O8V' 'B0pe' 'K5/M0V' 'A5III/IV' 'G5/G6V:w' 'K:III+...' 'B0III'
 'A1p Si' 'K0III SB' 'M4III SB' 'K1IVCN...' 'B2pvar' 'A5V...' 'G2Ib' 'A8'
 'G3/G5III' 'A0II' 'B2Vne' 'F7V+...' 'B1V:pe' 'K2:III:' 'K2IV/V' 'A7Vn'
 'G6:III:+...' 'Bnnpe' 'A1IV' 'G8/K0V:+...' 'M2Iab' 'sdO:' 'F0p'
 'A7/8V + G' 'M1V:' 'A4III/IV' 'M4Ve' 'G5/G6IV' 'K1:III+...' 'F3:V+...'
 'A1w' 'K0II/IIICN.' 'G6II' 'K2/K3III/IV' 'F5V:' 'A5/A6V' 'F7/8V(p)' 'O9V'
 'B1:V:pe' 'G:' 'K1/K2IIICN.' 'M4Ib+...' 'A3/A4III' 'G5V...' 'G5Ia' 'G8V:'
 'G8/K0III+..' 'B9.5p (Si)' 'F0III/IV+..' 'G6:IIICNpva' 'G3/G5III:'
 'A5/A8m...' 'G2II' 'B0.5:pe' 'B1.5II' 'B4IV' 'B9IV-Vn' 'M2Ia0-a...' 'A-F'
 'K2/K3VCN...' 'A5IV-V' 'K1/K2II' 'O6.5V' 'B1IV:' 'O9.5Ia' 'B0.5:III:'
 'G3/G5V:' 'F5II' 'Bpe' 'M4e' 'A8:+...' 'O8Vnn' 'M6III:' 'DF'
 'F5V comp SB' 'B0.5Ib' 'G8II:' 'A9IIIm...' 'G8III:var' 'A3Iab' 'B0.5IV'
 'K2III+...' 'G5IIIp...' 'B9V+...' 'B2IV-Ve' 'B3IV-V' 'M1Iab' 'F7.5'
 'F:...' 'M3/M4III' 'F6IV-V' 'M3e-M6e' 'F6/F7III/IV' 'B8IV-V' 'B5Ve...'
 'B0IIIp' 'K4II' 'B1Iab' 'A1Vnn' 'M0III:' 'M7:Sev' 'G1:IVp' 'G0.5IV'
 'G0IV comp' 'G5...' 'B9Ia' 'B2Ia' 'M5e-M9e' 'M2Iab:var' 'M4II'
 'K5/M0III:' 'K0:IV/V+...' 'A0III/IV' 'K1V:' 'B9p Si' 'O6.5...' 'A2Ia'
 'B9Ib' 'M3Iaevar' 'O8.5V' 'A3/A4V' 'B8Ia' 'B7III/IV' 'F6II' 'G6IVw...'
 'F7Ib' 'K2II...' 'A9II/III' 'Ap SrCrEu' 'M4e-M9e' 'M1/M2III:' 'G6/G8'
 'G0Vw...' 'O6e...' 'F8Ibvar' 'M6/M7' 'K1VCN...' 'O9.5V' 'G6/G8III:+.'
 'A9.2' 'G8IV/VCN...' 'M0p' 'A5p Sr' 'A2psh' 'K3/K4' 'A6III' 'DAn...' 'DA'
 'F6Vw...' 'A7III-IVs' 'F0/F2III/IV' 'G5III-IV' 'B1IIIe' 'sdG2'
 'F7:Ib-IIv SB' 'B1Ib-II' 'G6/G8V+...' 'O5e' 'O4...' 'A2II' 'A2Iab'
 'K2II/III' 'F3:+...' 'M4/M5e' 'K2/K3IIICN.' 'K7V comp SB' 'C...'
 'DAwe...' 'B9MNp...' 'A7/A8V+...' 'M4IIIe-M8e' 'A2/3IIw' 'A5Iab' 'A3 + K'
 'G5III:' 'G2/G3V:' 'G6IV:' 'C54(N3)' 'M1Iab:var' 'B7']

## Spectral Designation
[A note on the spectral atlas and spectral classification](https://lweb.cfa.harvard.edu/~pberlind/atlas/htmls/note.html)

### Morgan-Keenan designations
Morgan–Keenan (MK) system using the letters O, B, A, F, G, K, and M, a sequence from the hottest (O type) to the coolest (M type).

In [35]:
def get_first_letter(name):
    '''Preprocess spectral designations to remove numbers'''
    if str(name) != 'nan':
        if len(name) > 1:
            if name[0:2] == 'sd':
                # remove MK system luminosity class to look just at
                # Morgan-Keenan designations
                name = name[2::]
            alphas = ''.join(c for c in name if c not in '?:!/;.,[]{}()')
            return(alphas[0].upper())
        else:
            return(name.upper())
    return(name)

In [36]:
df['dist'].replace(to_replace=100000, value=np.nan, inplace=True)  # Why?
    
df['spect_desig'] = df['spect'].apply(get_first_letter)    
print(len(df[pd.notnull(df['spect_desig'])]['spect_desig'].unique()), 'unique spectral designations')
print(df[pd.notnull(df['spect_desig'])]['spect_desig'].unique())

14 unique spectral designations
['F' 'K' 'B' 'G' 'M' 'A' 'C' 'R' 'O' 'W' 'N' 'S' 'D' 'P']

In [37]:
# color scheme
color_dict = { 
    'O':'#5A90C3', 'B':'#93C2F1', 'A':'#f3e8d3', 'F':'#d4bf94',
    'G':'#FFD423', 'K':'#F99220', 'M':'#FF2620',  'L':'#FF2620',
    'T':'#FF6199', 'Y':'#6B22FF', 
    'C':'#979330', 'R':'#979330', 'W':'#979330', 'N':'#979330',
    'S':'#979330', 'D':'#979330', 'P':'#979330',
    'nan': '#000000' # unknown
}
df['color'] = df['spect_desig'].replace(to_replace=color_dict)
df['color'] = df['color'].replace(to_replace=np.nan, value='#000000')
df['linecolor'] = df['color'].replace(['#000000'], ['#f3e8d3']) # beige outline for black NANs

In [38]:
display(df.head())
df.to_csv("./hygdata_v3_processed.csv", index=False)  # no row names

print(len(df), 'total stars available in database')
df = df[df['mag'] <= 6.5]  # stars with an apparent magnitude less than 6.5 are visible to the naked eye
print(len(df), 'stars visible to the human eye')
df.to_csv('./hygdata_v3_processed_mag65.csv', index=False)  # no row names

,id,hip,hd,hr,gl,bf,proper,ra,dec,dist,...,comp_primary,base,lum,var,var_min,var_max,greek_letters,spect_desig,color,linecolor
1,1,1.0,224700.0,NaN,NaN,NaN,NaN,0.000060,1.089009,219.7802,...,1,NaN,9.638290,NaN,NaN,NaN,NaN,F,#d4bf94,#d4bf94
2,2,2.0,224690.0,NaN,NaN,NaN,NaN,0.000283,-19.498840,47.9616,...,2,NaN,0.392283,NaN,NaN,NaN,NaN,K,#F99220,#F99220
3,3,3.0,224699.0,NaN,NaN,NaN,NaN,0.000335,38.859279,442.4779,...,3,NaN,386.901132,NaN,NaN,NaN,NaN,B,#93C2F1,#93C2F1
4,4,4.0,224707.0,NaN,NaN,NaN,NaN,0.000569,-51.893546,134.2282,...,4,NaN,9.366989,NaN,NaN,NaN,NaN,F,#d4bf94,#d4bf94
5,5,5.0,224705.0,NaN,NaN,NaN,NaN,0.000665,-40.591202,257.7320,...,5,NaN,21.998851,NaN,NaN,NaN,NaN,G,#FFD423,#FFD423

119613 total stars available in database
8912 stars visible to the human eye